[submodule "NetSerializer"]
	path = NetSerializer
	url = https://github.com/lurkydismal/netserializer.git
[submodule "Lidgren.Network"]
	path = Lidgren.Network/Lidgren.Network
	url = https://github.com/lurkydismal/SpaceWizards.Lidgren.Network.git
[submodule "XamlX"]
	path = XamlX
	url = https://github.com/lurkydismal/XamlX.git
[submodule "Robust.LoaderApi"]
	path = Robust.LoaderApi
	url = https://github.com/lurkydismal/Robust.LoaderApi.git
[submodule "cefglue"]
	path = cefglue
	url = https://github.com/lurkydismal/cefglue.git
